
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Insurance Bill</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="/static/./style.css">

</head>

<body>
 <div class="login">
	<h1>Classify Fish</h1>
     <!-- Form to enter new data for predictions  -->
    <form action="/predict"method="POST">
      <input type="text" name="Weight" placeholder="Weight" required="required" value = '110'/><br>
    	<input type="text" name="Length1" placeholder="Length1" required="required" /><br>
        <input type="text" name="Length3" placeholder="Length3" required="required" /><br>
        <input type="text" name="Height" placeholder="Height" required="required" /><br>
        <input type="text" name="Width" placeholder="Width" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>


 </div>


</body>
</html>